@import url(https://fonts.googleapis.com/css?family=Bitter:400,700&subset=latin,latin-ext);

* { outline: 0; }

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

body {
	font-family: 'Bitter', serif;
	font-size: 18px;
	color: #FFF;
	background: #23538a;
	background-image: rgb(167,207,223);
	background-image: -moz-radial-gradient(center, ellipse cover,  rgba(167,207,223,1) 0%, rgba(35,83,138,1) 100%);
	background-image: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(167,207,223,1)), color-stop(100%,rgba(35,83,138,1)));
	background-image: -webkit-radial-gradient(center, ellipse cover,  rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%);
	background-image: -o-radial-gradient(center, ellipse cover,  rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%);
	background-image: -ms-radial-gradient(center, ellipse cover,  rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%);
	background-image: radial-gradient(ellipse at center,  rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cfdf', endColorstr='#23538a',GradientType=1 );
	background-repeat:no-repeat;
	padding: 0;
	margin:0;
	top:0;
	background-attachment:fixed;
}

td {
	font-size: 18px;	
}
/* --- HTML RESET OVER --- */ 

/* --- ROUTE PLANNER STYLING --- */ 
/* --- FORM & BUTTON STYLES --- */ 
input {
	font-family: 'Bitter', serif;
	font-size: 16px;
	color: #173658;
	padding: 8px 12px;
	margin-left:2px;	
	border: 0px;
	border-radius: 4px;
}
input[type="text"] {
	width: 220px;
}
input[type="submit"] {
    font-family: 'Bitter', serif;
    font-weight: bold;
	padding: 8px 20px;	
	margin-left: 10px;
	color: #173658;
	background: #ffd65e;
    box-shadow:inset 0px 0px 1px #000;
	cursor:pointer;
}

#showdir {
	padding: 6px 20px;	
	margin-left: 10px;
	color:#000;
	background: #ffd65e;
	background: -moz-linear-gradient(top,  #ffd65e 0%, #febf04 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffd65e), color-stop(100%,#febf04));
	background: -webkit-linear-gradient(top,  #ffd65e 0%,#febf04 100%);
	background: -o-linear-gradient(top,  #ffd65e 0%,#febf04 100%);
	background: -ms-linear-gradient(top,  #ffd65e 0%,#febf04 100%);
	background: linear-gradient(to bottom,  #ffd65e 0%,#febf04 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd65e', endColorstr='#febf04',GradientType=0 );
	text-shadow: 0px 1px 3px #FFF; box-shadow:inset 0px 0px 5px #000;
	cursor:pointer;
}

#routeForm {
	width: 100%;
	text-align: center;
	*margin-top:2px;
	margin-top:3px\0/IE8+9;
	padding-top:9px;	
}

/* ---  MAP STYLES --- */ 
#directionsPanel {
	background: #FFFFFF;
	color:#000;
	width: 920px;
	padding: 20px;
	margin: 0 auto;
    margin-top:-20px;
	box-shadow: 0px 0px 6px #999;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
	border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
	font-size: 18px;
	-webkit-box-shadow: 0px 0px 26px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    0px 0px 26px rgba(50, 50, 50, 0.5);
	box-shadow:         0px 0px 26px rgba(50, 50, 50, 0.5);
}
.adp-directions {
	width: 920px;
}
#map_canvas {
	width:100%; 
	height:100%;
	background:#FFF;
}

/* ---  BACK TO TOP STYLES --- */ 
#toTop {
	display:none;
	text-decoration:none;
	position:fixed;
	bottom:10px;
	right:10px;
	overflow:hidden;
	width:51px;
	height:51px;
	border:none;
	text-indent:100%;
	background:url(../img/totop.png) no-repeat left top;
}

#toTopHover {
	background:url(../img/totop.png) no-repeat left -51px;
	width:51px;
	height:51px;
	display:block;
	overflow:hidden;
	float:left;
	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);
}

#toTop:active, #toTop:focus {
	outline:none;
}

/* ---  PRINT OPTION --- */ 
.pb_container {
	width:60px;
	height:50px;
	float:right;
}

.printbox {
	z-index:1000;
	position:fixed;
	width:50px;
	height:30px;
	background-color: rgba(0, 0, 0, 0.5);
	color:#FFF;
	font-size:14px;
	top:0;
	float:right;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	text-align:center;
	line-height:2em;
}

.printbox:hover {
	cursor:pointer;
	background-color: rgba(0, 0, 0, 1);
	-webkit-transition: all 500ms cubic-bezier(0.360, 0.150, 0.715, 0.825); 
   -moz-transition: all 500ms cubic-bezier(0.360, 0.150, 0.715, 0.825); 
    -ms-transition: all 500ms cubic-bezier(0.360, 0.150, 0.715, 0.825); 
     -o-transition: all 500ms cubic-bezier(0.360, 0.150, 0.715, 0.825); 
        transition: all 500ms cubic-bezier(0.360, 0.150, 0.715, 0.825);
}

/* ---  LOGO CONTAINER/HEADER --- */ 
.logo {
	width:960px;
	height:76px;
	margin:10px auto;
    margin-bottom: -15px;
}

/* --- MAP CONTAINER --- */ 
.mapcontainer {
	width:960px;
	height:360px;
	margin:0px auto;
	z-index:-1;
	margin-bottom:20px;
	-webkit-box-shadow: 0px 0px 26px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    0px 0px 26px rgba(50, 50, 50, 0.5);
	box-shadow:         0px 0px 26px rgba(50, 50, 50, 0.5);
}

/* --- SEARCH CONTAINER --- */ 
.search_container {
	z-index:1;
	position:relative;
	background: #606c88;
	background: -moz-linear-gradient(top,  #606c88 0%, #3f4c6b 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#606c88), color-stop(100%,#3f4c6b));
	background: -webkit-linear-gradient(top,  #606c88 0%,#3f4c6b 100%);
	background: -o-linear-gradient(top,  #606c88 0%,#3f4c6b 100%);
	background: -ms-linear-gradient(top,  #606c88 0%,#3f4c6b 100%);
	background: linear-gradient(to bottom,  #606c88 0%,#3f4c6b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#3f4c6b',GradientType=0 );
	width:960px;
	height:60px;
	margin:auto;
    padding: 12px 0 10px 0;
	color:#FFF;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.container_main {
	width:960px;
	height:auto;
	margin:auto;
	color:#333;
	background:#FFF;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 26px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    0px 0px 26px rgba(50, 50, 50, 0.5);
	box-shadow:         0px 0px 26px rgba(50, 50, 50, 0.5);
}

select {
    font-family: 'Bitter', serif;
	font-size: 16px;
	color: #173658;
	padding: 6px 12px;
	margin-left: 2px;	
	border: 0px;
	border-radius: 4px;
    min-width: 130px;
    height: 35px;
}

option {
	background:#f9f9f9;
	color:#173658;
}


/* ---  GOOGLE MAPS MARGIN FIX --- */ 
.marginfix {
	margin:20px;
}

/* ---  PRINT DISPLAY --- */ 
@media print { 
.print, form, #routeform, .logo, .printbox, select, .adv_options {display:none; color:#000;} 
}

/* ---  OTHER STYLES --- */ 

input[type="submit"]:hover { 
background: #febf04;
-webkit-transition: all 200ms cubic-bezier(0.360, 0.150, 0.715, 0.825); 
   -moz-transition: all 200ms cubic-bezier(0.360, 0.150, 0.715, 0.825); 
    -ms-transition: all 200ms cubic-bezier(0.360, 0.150, 0.715, 0.825); 
     -o-transition: all 200ms cubic-bezier(0.360, 0.150, 0.715, 0.825); 
        transition: all 200ms cubic-bezier(0.360, 0.150, 0.715, 0.825);
} 

.iw {color:#000;} /** Google Maps Bubble Style **/

::selection {
	background: #ffb7b7; 
}

::-moz-selection {
	background: #ffb7b7; 
}